workflows-test-n8n/My workflow.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "MySQL26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists - line_items": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Woo Order Data": {
      "main": [
        [
          {
            "node": "Item Lists - line_items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL26": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2023-11-16T12:04:09.351Z",
  "id": "q9trkgumzJ9Cfzrb",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "dfff4cfb-1c4c-4036-9267-6bd66804725b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        620,
        360
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.line_items.tax_class }}",
        "rules": {
          "rules": [
            {
              "value2": "reduzierter-preis-frigo"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ef395fbf-8f85-40bd-9dd0-f6521648b84e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1500,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "line_items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "id": "962cc2b6-f2a2-4980-9023-91a9e37235c5",
      "name": "Item Lists - line_items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1240,
        180
      ]
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "get",
        "orderId": "11057"
      },
      "id": "918d983a-67e4-4a17-bfb9-6c62c9336db3",
      "name": "Reload Woo Order Data",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1040,
        360
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "jNQNwskptCZoGAP6",
          "name": "Senas_WooCommerce"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.senas.ch/wp-json/wc/v3/orders/{{ $('Reload Woo Order Data').item.json.id }}/notes\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wooCommerceApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "note",
              "value": "=WORKFLOW LOG: Artikel \"{{ $json.line_items.name }}\" nicht zu FrigoSuisse übermittelt, da kein TK Artikel."
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "9b9e8493-37ff-4dcd-b175-b6e2f917d598",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        580
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "jNQNwskptCZoGAP6",
          "name": "Senas_WooCommerce"
        }
      }
    },
    {
      "parameters": {
        "include": "selected",
        "includeFields": "id",
        "options": {}
      },
      "id": "738db652-2113-4722-b6cd-4d921090e7c1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1260,
        360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "order_numbers",
          "mode": "list",
          "cachedResultName": "order_numbers"
        },
        "where": {
          "values": [
            {
              "column": "Exec_ID",
              "value": "=2247"
            }
          ]
        },
        "options": {}
      },
      "id": "95325d60-5798-4780-9881-7f7e3e858765",
      "name": "MySQL26",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        920,
        580
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.completed }}"
            }
          ]
        }
      },
      "id": "415eecfd-663f-4771-bc44-9b50c19bfe3b",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        580
      ]
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "update",
        "orderId": "={{ $json.WooCommerce_OrderID }}",
        "updateFields": {
          "status": "completed"
        },
        "billingUi": {},
        "couponLinesUi": {},
        "feeLinesUi": {},
        "lineItemsUi": {},
        "metadataUi": {},
        "shippingUi": {},
        "shippingLinesUi": {}
      },
      "id": "fda551eb-aaad-4bfd-b6f7-e70322a17fc1",
      "name": "WooCommerce",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1360,
        560
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "jNQNwskptCZoGAP6",
          "name": "Senas_WooCommerce"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-11-26T12:43:19.000Z",
  "versionId": "a2b71a71-420d-4474-84b0-8702ac023320"
}