workflows-test-n8n/My workflow 4.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-01T15:23:40.230Z",
  "id": "HDfg3qlfghibLOHf",
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "id": "0b013994-70a1-4abd-a4c1-07b9e4d2764e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1160,
        580
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRoWS6h89urr8ZD",
          "mode": "list",
          "cachedResultName": "n8n Course",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD"
        },
        "table": {
          "__rl": true,
          "value": "tbl5LjR6jYZkLOg91",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD/tbl5LjR6jYZkLOg91"
        },
        "options": {}
      },
      "id": "36739ad0-ba5c-4c6a-bbc1-376553b472a5",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1580,
        320
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "abPXAAzi6EcX2YFB",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "options": {}
      },
      "id": "72119a06-5ee5-4d80-b908-75f6201aa3ef",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "411bae6b-7b2a-40ee-a919-2be8a5152d76",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1860,
        520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRoWS6h89urr8ZD",
          "mode": "list",
          "cachedResultName": "n8n Course",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD"
        },
        "table": {
          "__rl": true,
          "value": "tbl5LjR6jYZkLOg91",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD/tbl5LjR6jYZkLOg91"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "078beced-bf28-4549-8f99-f7155b20862f",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2080,
        520
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "abPXAAzi6EcX2YFB",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T16:01:20.000Z",
  "versionId": "eb278890-2cd7-490a-b47a-a9db6440bd09"
}