workflows-test-n8n/Nathan's workflow.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-31T09:49:05.232Z",
  "id": "t6ARCMlaRhrDuWhT",
  "meta": null,
  "name": "Nathan's workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "6fa549b6-eab3-4077-ab4a-01e802ad0a39",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1140,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "1b853a25aa87450bba3f680adb1317d6"
            }
          ]
        },
        "options": {}
      },
      "id": "6c637f97-bfec-4543-af56-050e15a709ed",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2tYoXJTgSpj0DA9H",
          "name": "n8n Course"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRoWS6h89urr8ZD",
          "mode": "list",
          "cachedResultName": "n8n Course",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD"
        },
        "table": {
          "__rl": true,
          "value": "tblK3pMViTWvPGEy7",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appRoWS6h89urr8ZD/tblK3pMViTWvPGEy7"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderId",
              "displayName": "orderId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "bc04edf4-9e61-4d93-92fd-979703bc8c73",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2260,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "abPXAAzi6EcX2YFB",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "610842e9-7be8-4d0f-bd2f-542d11133e18",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b3a0c79e-dd17-41d7-bc90-e0e13e67c51d",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30625849-fc2c-4af0-90aa-9f57fbcc0099",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1580,
        540
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "orderId",
              "type": "numberValue",
              "numberValue": "={{ $json.orderID }}"
            },
            {
              "name": "employeeName",
              "stringValue": "={{ $json.employeeName }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "9f1ad371-7cf1-4270-b89e-d035ee6a26e9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2020,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor(let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\nreturn [{json:{totalBooked, bookedSum}}];"
      },
      "id": "9b6aad1a-7604-48e2-aa43-6284c94e02b5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        640
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we have {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "id": "880379a5-08c3-4059-b3fa-d975ec94471c",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2020,
        640
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "kzui33G6nMLlQatU",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor(let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\nreturn [{json:{totalBooked, bookedSum}}];"
      },
      "id": "0a59a99e-347e-4aec-bed9-3ebf4fc343c9",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T15:23:23.000Z",
  "versionId": "c07fac63-67de-46d4-9c6e-167aa679d7f9"
}