workflows-test-n8n/Senas_Update_Stock v2.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce1": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        []
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL3": {
      "main": [
        [
          {
            "node": "WooCommerce4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce4": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        []
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "MySQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL5": {
      "main": [
        [
          {
            "node": "WooCommerce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-22T08:21:02.550Z",
  "id": "scoBkhJqu169aTsD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Senas_Update_Stock v2",
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\", [\"SUBJECT\", \"Bestand STEF Moehlin 719\"]]"
        }
      },
      "id": "48194b4d-a942-4cc5-80b5-91bff428291e",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        80,
        540
      ],
      "credentials": {
        "imap": {
          "id": "u31frbIrp3r7mPex",
          "name": "N8N IMAP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "#TRUNCATE TABLE `senas`.`stock_frigo`;\nINSERT INTO stock_frigo ( sku, stock, exec_id)\nVALUES ($1, $2, $3)\nON DUPLICATE KEY UPDATE stock = stock + VALUES(stock);\n",
        "options": {
          "queryReplacement": "= {{ $json.sku }},  {{ $json.stock }}, {{ $execution.id }}"
        }
      },
      "id": "59b1cc48-d69c-4f68-a6f9-a45c7dd8aad3",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1040,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Date",
              "stringValue": "={{ DateTime.fromFormat( $json[\"Datum\"], \"dd.MM.yyyy\").toFormat(\"yyyy-MM-dd\") }}"
            },
            {
              "name": "sku",
              "type": "numberValue",
              "numberValue": "={{ $json.Artikel }}"
            },
            {
              "name": "description",
              "stringValue": "={{ $json.Bezeichnung }}"
            },
            {
              "name": "mhd",
              "stringValue": "={{ DateTime.fromFormat($json.MHD, \"dd.MM.yyyy\").toFormat(\"yyyy-MM-dd\") }}"
            },
            {
              "name": "stock",
              "type": "numberValue",
              "numberValue": "={{ $json.Menge }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "bdce08f8-8a3c-4f7d-9f74-839ff3f6b705",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        620,
        640
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "sku": "={{ $json.sku }}"
        }
      },
      "id": "8ddba6c5-6eb9-46d5-a52c-59d2e7a48483",
      "name": "WooCommerce1",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1480,
        640
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "jNQNwskptCZoGAP6",
          "name": "Senas_WooCommerce"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stock_woo (id_woo, sku, description, date_modified_woo, stock_woo)\nVALUES ($1, $2, $3, $4, $5)\nON DUPLICATE KEY UPDATE stock_woo = VALUES(stock_woo);\n",
        "options": {
          "queryReplacement": "={{ $json.id }}, {{ $json.sku }}, {{ $json.name }}, {{ $json.date_modified }},  {{ $json.stock_quantity }}"
        }
      },
      "id": "8dc96420-0b4d-4233-9779-9f2efd22616d",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1660,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stock_frigo_history (date, sku, description, mhd, stock, exec_id)\nVALUES ($1, $2, $3, $4, $5, $6)\nON DUPLICATE KEY UPDATE stock = stock + VALUES(stock);\n",
        "options": {
          "queryReplacement": "={{ $json.Date }},  {{ $json.sku }},  {{ $json.description }},  {{ $json.mhd }},  {{ $json.stock }}, {{ $execution.id }}"
        }
      },
      "id": "362f0ddd-caf7-4583-b636-1432392cb652",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1040,
        800
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "senas_stock",
          "mode": "list",
          "cachedResultName": "senas_stock"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "4f036f1e-0b9a-4ab0-b989-5ae8d9a58488",
      "name": "MySQL3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1820,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "update",
        "productId": "={{ $json.id_woo }}",
        "updateFields": {
          "stockQuantity": "={{ $json.stock_frigo }}"
        },
        "dimensionsUi": {},
        "imagesUi": {},
        "metadataUi": {}
      },
      "id": "d5dd0669-b093-4f80-b39e-d58aa8975edc",
      "name": "WooCommerce4",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1520,
        800
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "jNQNwskptCZoGAP6",
          "name": "Senas_WooCommerce"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE `senas`.`stock_frigo`;\n\n",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "2a5d1309-ee30-4658-9687-5d623fc68ffe",
      "name": "MySQL4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1780,
        800
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {
          "delimiter": ";",
          "headerRow": true
        }
      },
      "id": "de3241a3-473b-46bc-8de9-30e08489ba04",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        380,
        640
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {
          "rawData": false
        }
      },
      "id": "8c317f97-4356-4885-abc4-10a2e822bd5a",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        380,
        920
      ]
    },
    {
      "parameters": {},
      "id": "1fe31638-2d90-4717-834d-6b0ad8a79836",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        640
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "stock_frigo",
          "mode": "list",
          "cachedResultName": "stock_frigo"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "97ceaf22-3e24-4fd2-b64d-9dbaab6ede90",
      "name": "MySQL5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1260,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "6f9409J9OFpcD6mL",
          "name": "SENAS TEST - MySQL account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking \"Test workflow\"": [
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125500",
          "Bezeichnung": "Aktiv complete m/Lachs 30x500g",
          "Charge": "240124",
          "MHD": "03.01.2025",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "45",
          "Bruttogewicht": "47.4",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                              "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "903",
          "Bezeichnung": "Easy Pack Active Lachs 9 kg",
          "Charge": "230901",
          "MHD": "21.04.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "27",
          "Bruttogewicht": "28.5",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                    "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135000",
          "Bezeichnung": "Digestive complete 32x500g",
          "Charge": "240124",
          "MHD": "03.01.2025",
          "Menge": "12",
          "EH": "CA",
          "Nettogewicht": "192",
          "Bruttogewicht": "201.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170010",
          "Bezeichnung": "Puppy complete 32x500g",
          "Charge": "230928",
          "MHD": "14.09.2024",
          "Menge": "11",
          "EH": "CA",
          "Nettogewicht": "176",
          "Bruttogewicht": "184.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                   "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "902",
          "Bezeichnung": "Easy Pack Active 9 kg",
          "Charge": "240419",
          "MHD": "09.12.2024",
          "Menge": "54",
          "EH": "CA",
          "Nettogewicht": "486",
          "Bruttogewicht": "513",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                         "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180040",
          "Bezeichnung": "Active complete Protein meatballs 15x560g",
          "Charge": "231208",
          "MHD": "19.05.2024",
          "Menge": "9",
          "EH": "CA",
          "Nettogewicht": "75.6",
          "Bruttogewicht": "82.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                 "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180050",
          "Bezeichnung": "Aktiv complete Protein 3x6kg",
          "Charge": "240419",
          "MHD": "07.03.2025",
          "Menge": "9",
          "EH": "CA",
          "Nettogewicht": "162",
          "Bruttogewicht": "171",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "133504",
          "Bezeichnung": "Act. complete meatballs15x560g",
          "Charge": "240419",
          "MHD": "04.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125030",
          "Bezeichnung": "Aktiv complete mit Lachs 3x6kg",
          "Charge": "240419",
          "MHD": "09.04.2025",
          "Menge": "17",
          "EH": "CA",
          "Nettogewicht": "306",
          "Bruttogewicht": "323",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135039",
          "Bezeichnung": "Digestive complete Meatballs  15x560g",
          "Charge": "231208",
          "MHD": "08.07.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "25.2",
          "Bruttogewicht": "27.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                     "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "230901",
          "MHD": "09.04.2024",
          "Menge": "8",
          "EH": "CA",
          "Nettogewicht": "67.2",
          "Bruttogewicht": "73.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                            "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125030",
          "Bezeichnung": "Aktiv complete mit Lachs 3x6kg",
          "Charge": "240419",
          "MHD": "09.04.2025",
          "Menge": "16",
          "EH": "CA",
          "Nettogewicht": "288",
          "Bruttogewicht": "304",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "260049",
          "Bezeichnung": "Taste beef meatballs15x560g",
          "Charge": "240419",
          "MHD": "02.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "240419",
          "MHD": "28.10.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "102504",
          "Bezeichnung": "Taste chicken meatballs15x560g",
          "Charge": "231208",
          "MHD": "01.07.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135039",
          "Bezeichnung": "Digestive complete Meatballs  15x560g",
          "Charge": "240419",
          "MHD": "19.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                        "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "231208",
          "MHD": "11.06.2024",
          "Menge": "15",
          "EH": "CA",
          "Nettogewicht": "126",
          "Bruttogewicht": "138",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "903",
          "Bezeichnung": "Easy Pack Active Lachs 9 kg",
          "Charge": "240119",
          "MHD": "12.08.2024",
          "Menge": "15",
          "EH": "CA",
          "Nettogewicht": "135",
          "Bruttogewicht": "142.5",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                 "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125510",
          "Bezeichnung": "Active complete mit Lachs meatballs 15x560g",
          "Charge": "240419",
          "MHD": "14.10.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "101509",
          "Bezeichnung": "Taste beef tripe meatballs    15x560 g",
          "Charge": "240419",
          "MHD": "25.09.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                        "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "260049",
          "Bezeichnung": "Taste beef meatballs15x560g",
          "Charge": "231208",
          "MHD": "09.07.2024",
          "Menge": "4",
          "EH": "CA",
          "Nettogewicht": "33.6",
          "Bruttogewicht": "36.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125510",
          "Bezeichnung": "Active complete mit Lachs meatballs 15x560g",
          "Charge": "231208",
          "MHD": "26.05.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "25.2",
          "Bruttogewicht": "27.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "133504",
          "Bezeichnung": "Act. complete meatballs15x560g",
          "Charge": "231208",
          "MHD": "18.06.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180040",
          "Bezeichnung": "Active complete Protein meatballs 15x560g",
          "Charge": "240419",
          "MHD": "07.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                    "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180050",
          "Bezeichnung": "Aktiv complete Protein 3x6kg",
          "Charge": "240419",
          "MHD": "07.03.2025",
          "Menge": "1",
          "EH": "CA",
          "Nettogewicht": "18",
          "Bruttogewicht": "19",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      }
    ],
    "Extract from File": [
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125500",
          "Bezeichnung": "Aktiv complete m/Lachs 30x500g",
          "Charge": "240124",
          "MHD": "03.01.2025",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "45",
          "Bruttogewicht": "47.4",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                              "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "903",
          "Bezeichnung": "Easy Pack Active Lachs 9 kg",
          "Charge": "230901",
          "MHD": "21.04.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "27",
          "Bruttogewicht": "28.5",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                    "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135000",
          "Bezeichnung": "Digestive complete 32x500g",
          "Charge": "240124",
          "MHD": "03.01.2025",
          "Menge": "12",
          "EH": "CA",
          "Nettogewicht": "192",
          "Bruttogewicht": "201.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170010",
          "Bezeichnung": "Puppy complete 32x500g",
          "Charge": "230928",
          "MHD": "14.09.2024",
          "Menge": "11",
          "EH": "CA",
          "Nettogewicht": "176",
          "Bruttogewicht": "184.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                   "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "902",
          "Bezeichnung": "Easy Pack Active 9 kg",
          "Charge": "240419",
          "MHD": "09.12.2024",
          "Menge": "54",
          "EH": "CA",
          "Nettogewicht": "486",
          "Bruttogewicht": "513",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                         "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180040",
          "Bezeichnung": "Active complete Protein meatballs 15x560g",
          "Charge": "231208",
          "MHD": "19.05.2024",
          "Menge": "9",
          "EH": "CA",
          "Nettogewicht": "75.6",
          "Bruttogewicht": "82.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                 "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180050",
          "Bezeichnung": "Aktiv complete Protein 3x6kg",
          "Charge": "240419",
          "MHD": "07.03.2025",
          "Menge": "9",
          "EH": "CA",
          "Nettogewicht": "162",
          "Bruttogewicht": "171",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "133504",
          "Bezeichnung": "Act. complete meatballs15x560g",
          "Charge": "240419",
          "MHD": "04.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125030",
          "Bezeichnung": "Aktiv complete mit Lachs 3x6kg",
          "Charge": "240419",
          "MHD": "09.04.2025",
          "Menge": "17",
          "EH": "CA",
          "Nettogewicht": "306",
          "Bruttogewicht": "323",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135039",
          "Bezeichnung": "Digestive complete Meatballs  15x560g",
          "Charge": "231208",
          "MHD": "08.07.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "25.2",
          "Bruttogewicht": "27.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                     "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "230901",
          "MHD": "09.04.2024",
          "Menge": "8",
          "EH": "CA",
          "Nettogewicht": "67.2",
          "Bruttogewicht": "73.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                            "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125030",
          "Bezeichnung": "Aktiv complete mit Lachs 3x6kg",
          "Charge": "240419",
          "MHD": "09.04.2025",
          "Menge": "16",
          "EH": "CA",
          "Nettogewicht": "288",
          "Bruttogewicht": "304",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "260049",
          "Bezeichnung": "Taste beef meatballs15x560g",
          "Charge": "240419",
          "MHD": "02.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "240419",
          "MHD": "28.10.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "102504",
          "Bezeichnung": "Taste chicken meatballs15x560g",
          "Charge": "231208",
          "MHD": "01.07.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "135039",
          "Bezeichnung": "Digestive complete Meatballs  15x560g",
          "Charge": "240419",
          "MHD": "19.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                        "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "170040",
          "Bezeichnung": "Puppy complete meatball15x560g",
          "Charge": "231208",
          "MHD": "11.06.2024",
          "Menge": "15",
          "EH": "CA",
          "Nettogewicht": "126",
          "Bruttogewicht": "138",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                             "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "903",
          "Bezeichnung": "Easy Pack Active Lachs 9 kg",
          "Charge": "240119",
          "MHD": "12.08.2024",
          "Menge": "15",
          "EH": "CA",
          "Nettogewicht": "135",
          "Bruttogewicht": "142.5",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                 "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125510",
          "Bezeichnung": "Active complete mit Lachs meatballs 15x560g",
          "Charge": "240419",
          "MHD": "14.10.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "101509",
          "Bezeichnung": "Taste beef tripe meatballs    15x560 g",
          "Charge": "240419",
          "MHD": "25.09.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                        "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "260049",
          "Bezeichnung": "Taste beef meatballs15x560g",
          "Charge": "231208",
          "MHD": "09.07.2024",
          "Menge": "4",
          "EH": "CA",
          "Nettogewicht": "33.6",
          "Bruttogewicht": "36.8",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "125510",
          "Bezeichnung": "Active complete mit Lachs meatballs 15x560g",
          "Charge": "231208",
          "MHD": "26.05.2024",
          "Menge": "3",
          "EH": "CA",
          "Nettogewicht": "25.2",
          "Bruttogewicht": "27.6",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                               "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "133504",
          "Bezeichnung": "Act. complete meatballs15x560g",
          "Charge": "231208",
          "MHD": "18.06.2024",
          "Menge": "5",
          "EH": "CA",
          "Nettogewicht": "42",
          "Bruttogewicht": "46",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180040",
          "Bezeichnung": "Active complete Protein meatballs 15x560g",
          "Charge": "240419",
          "MHD": "07.11.2024",
          "Menge": "10",
          "EH": "CA",
          "Nettogewicht": "84",
          "Bruttogewicht": "92",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                    "
        }
      },
      {
        "json": {
          "Datum": "14.05.2024",
          "Firma": "719",
          "Artikel": "180050",
          "Bezeichnung": "Aktiv complete Protein 3x6kg",
          "Charge": "240419",
          "MHD": "07.03.2025",
          "Menge": "1",
          "EH": "CA",
          "Nettogewicht": "18",
          "Bruttogewicht": "19",
          "Anzahl_Pal": "1",
          "                                                                                                                                                                                                                                                                                                                                                                                                                          ": "                                                                                                                                                                                                                                                                                                                                                                                                                                  "
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "staticData": {
    "node:Email Trigger (IMAP)": {
      "lastMessageUid": 104
    }
  },
  "tags": [
    {
      "createdAt": "2023-08-16T15:39:16.013Z",
      "updatedAt": "2023-08-16T15:39:16.013Z",
      "id": "KkVmd7DNw8r5lRhu",
      "name": "SENAS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-05-14T15:26:27.000Z",
  "versionId": "c267d2d1-dfd4-4776-9988-4871e4bde7d2"
}