workflows/n8n-backups.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-12T12:22:11.666Z",
  "id": "bUuQWukDCzo9GSeA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n-backups",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "mode": "url",
          "__regex": "https:\\/\\/github.com\\/(?:[-_0-9a-zA-Z]+)\\/([-_.0-9a-zA-Z]+)"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "f303a51e-38ca-4ad5-9eb6-029b71e981a0",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -260,
        640
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "BVX6hCIw4PSuKgSl",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a05f4d84-b006-436c-ae70-02f32e5cca30",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        520,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6794c3d1-9ef3-43b7-b90f-56121806187a",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        760,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "16fc3ad7-daef-4544-bd1b-65ffe62eb988",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        760,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "142ad4c4-3229-4a5b-972a-e9585c39fef5",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        760,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "aea772ec-2e2c-48fb-873c-8c2a36ba27cb",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        940,
        780
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "BVX6hCIw4PSuKgSl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "d15fb9c4-1c83-4dc6-8dae-84b44a5b1b14",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        940,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "BVX6hCIw4PSuKgSl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f473be4b-7a86-4cf8-be25-6e89ef826f08",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -560,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "seljo-ch"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "04e587bd-254f-4d26-a2a0-4b853c722edd",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1000,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "c19a3a1f-e75c-4c24-817a-859fd4b6c877",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1185,
        935
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "6a6890a8-f019-4f83-9c53-9cd1eb72e7dd",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1640,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "406109fb-4b23-498a-8d6b-a3b570d67023",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "9f414e4c-bdf6-4466-bf9e-79ff1bdb25b1",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {}
      },
      "id": "e0ee70cb-0e3f-45e2-8fab-bcee3b0c3e30",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -800,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "rXxtODM97qfBoNUz",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "419f7bf8-b29d-49e5-8de2-85a767be78f8",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        280,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "23119872-952b-49d0-952e-ef8098200e3c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        100,
        780
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-12T12:22:24.849Z",
      "updatedAt": "2024-06-12T12:22:24.849Z",
      "id": "CqX5k2lMgamxLs2J",
      "name": "V1.0"
    },
    {
      "createdAt": "2024-06-12T12:22:20.611Z",
      "updatedAt": "2024-06-12T12:22:20.611Z",
      "id": "MYbgN9GAswakvVjp",
      "name": "General"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-03-10T19:40:52.000Z",
  "versionId": "bd9f31ff-5a85-4c88-be0d-6ad51bca3ca8"
}